
*.ipch
x64/Debug/Computer programming project.exe
x64/Debug/Computer programming project.exe
x64/Debug/Computer programming project.exe.recipe
x64/Debug/Computer programming project.ilk
x64/Debug/Computer programming project.pdb
x64/Debug/Computer.5a8b68d3.tlog/Computer programming project.lastbuildstate
.vs/Computer programming project/v17/.suo
.vs/Computer programming project/v17/Browse.VC.db
*.vsidx
.vs/Computer programming project/v17/Browse.VC.db
.vs/Computer programming project/v17/.suo
.vs/Computer programming project/v17/.suo
.vs/Computer programming project/v17/Browse.VC.db
.vs/Computer programming project/v17/Browse.VC.db
.vs/Computer programming project/v17/.suo
.vs/Computer programming project/v17/Browse.VC.opendb
.vs/Computer programming project/v17/Browse.VC.db-shm
.vs/Computer programming project/v17/Browse.VC.db
.vs/Computer programming project/v17/Browse.VC.db-wal
.vs/Computer programming project/v17/Browse.VC.db
.vs/Computer programming project/v17/Browse.VC.db
.vs/Computer programming project/v17/Browse.VC.db
