
.vs/Computer programming project/v17/ipch/AutoPCH/9340438f44efc283/COMPUTER PROGRAMMING PROJECT.ipch
.vs/Computer programming project/v17/ipch/AutoPCH/6197bd5b0b407b7b/COMPUTER PROGRAMMING PROJECT.ipch
x64/Debug/Computer.5a8b68d3.tlog/Computer programming project.lastbuildstate
